name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Start Process
      run: |
          echo "*********************************************"
          echo "Start Process ..."
          echo "*********************************************"

    - name: Docker login
      run: docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_PASS }}
          
    - name: Build the Docker image
      run: |       

        RANDOM_INPUT=$(uuidgen)
        RANDOM_SHA=$(echo -n "$RANDOM_INPUT" | sha256sum | awk '{print $1}')
        
        docker build -f docker/Dockerfile -t ${{ secrets.IMAGE }} .        

        docker tag ${{ secrets.IMAGE }}:latest ${{ secrets.IMAGE }}:$RANDOM_SHA
        docker push ${{ secrets.image }}:$RANDOM_SHA
        
        docker push ${{ secrets.IMAGE }}:latest

    - name: Finish Process
      run: |
          echo "*********************************************"
          echo "Finish Process ..."
          echo "*********************************************"
